extends layout

//block content
//    div.container
//        div.row
//            h3.text-center Va rugam frumos sa alegeti locatia in care aveti nevoie de serviciul nostru:
//            div.row
//                div.col-xs-6
//                    button.btn.btn-success.btn-block(id="currentLocation") Am nevoie la adresa la care ma aflu
//            div.row
//                h3 Am nevoie la alta adresa:
//            input.form-control(type="text" id="address" placeholder="Introduceti adresa")
//            button.btn.btn-primary(id="findLocation") Cautare
//
//    script(src="/js/geolocation.js")