doctype html
html
    head
        link(href='https://fonts.googleapis.com/css?family=Cabin', rel='stylesheet', type='text/css')
        link(href='css/customer.css', rel='stylesheet', type='text/css')
    body
        .container
            .header
                img(src='images/logo.png')
            .content
                h2.red-text Alege una din opţiunile de mai jos pentru a găsi cea mai apropiată locaţie:
                .boxleft
                    .circle
                        | 1
                    form(action='#')
                        button.submit#currentLocation(type='submit') Caută după adresa mea
                .boxright
                    .circle
                        | 2
                    div#cat-photo-form
                        input.cls_input#address(type='text', size='30', placeholder='introduceti adresa', required='')
                        button.submit#findLocation Căutare
            .loadingbox#loading(style='display:none;')
                .windows8
                    #wBall_1.wBall
                        .wInnerBall
                    #wBall_2.wBall
                        .wInnerBall
                    #wBall_3.wBall
                        .wInnerBall
                    #wBall_4.wBall
                        .wInnerBall
                    #wBall_5.wBall
                        .wInnerBall
            .content
                h2.red-text Rezultate
                block content


        script(src="/js/CustomerView.js")
        script(src="/bower_components/axios/dist/axios.min.js")
