doctype html
html(lang="en")
    head
        title Necuvinte
        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="css/customer.css")
    body
        block content
